.slider {
    color: darkblue;

}

.slider-caption {
    /* width: 274px; */
    width: 300px;
    left: 15%;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;

}

.courses img {
    width: 100%;
}

.institute-card-body {
    background-color: rgba(244, 250, 253, 1);
}

.register {
    width: 80%;
}

.register-btn {
    background-color: white;
}

.image-width {
    width: 5%;
}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.bottom-image {
    width: 10%;
}

.footer-width {
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}